.container-fluid  {

background-image : url('app.jpg');
position:fixed;
background-position : 0% 20%;
background-size : 100vw 100vh;
height: 100%;

}
.sign1 {

padding-bottom: 20%;
padding : 10%;
border : 3%;
border-style: rounded;
border-color : 2px solid white; 

}

.overlay {
background-color : rgba(0,0,0,0.6);
color: white;

width : auto;
height : 100%;
}
.foot {
height : 150px;
background-color : black;
color : white;
font-size : 1rem;


}